@import './_variables';

.modalPanel {
  max-width: 300px;
  background-color: $light-gray;
  border: 3px solid orange;
  z-index: 4;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -150px;
}