.minLabel, .maxLabel, .valueLabel {
  display: none;
}

.trak {
  background-color: #333333;
  height: 2px;
  transition: 0.3s ease;
}

.slick-slide > div {
  padding: 0 7px;
}

.slick-slide {
  cursor: pointer;
}

.slider {
  width: 18px;
  height: 18px;
  background-color:#c7bda4;
  position: absolute;
  top: 0;
  margin-top: -50%;
  margin-left: -50%;
  transition: 0.3s ease;
  border-radius: 50%;
  border: 10px solid#f5f6f6;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.slider:after {
  content: '';
  background: url('../icons/money-stack.png');
  position: absolute;
  top: -47px;
  width: 45px;
  left: -50%;
  height: 45px;
  margin-left: -3px;
  background-size: cover;
  z-index: 2;
}

.inputRange, .sliderContainer {
  transition: 0.3s ease;
}

.inputRange {
  display: none;
}

@media (min-width: 768px) {
  .inputRange {
    display: block;
  }
}

.modifiedNextArrow {
  border: 3px solid aqua;
}

.slick-next, .slick-prev {
  width: 16px;
  height: 16px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  transform: rotate(45deg);
  top: -80px;
  left: 50%;
}
.slick-next:before, .slick-prev:before {
  display: none
}

.slick-disabled {
  opacity: 0.25;
}

@media (max-width: 767px) {
  .slick-current {
    background-color: #dedede;
  }
}

.slick-prev {
  border-bottom: 2px solid #333333;
  border-left: 2px solid #333333;
  border-top: none;
  border-right: none;
  right: auto;
  top: -80px;
  left: 50%;
  margin-left: -55px;
}

.slick-next {
  left: auto;
  right: 50%;
  margin-right: -55px;
}