@import './_variables';
.topBar {
    background-color: $backgroundGray;
    position: static;
    height: 250px;
    border-bottom: 2px solid #ccc;
    display: table;
    width: 100%;

    .container {
        vertical-align: middle;
        display: table-cell;
        height: 150px;
        position: relative;
        width: 100%;
        // @include tablet-portrait-and-up {
        //   height: auto;
        // }

        svg {
          display: none;
          position: absolute;
          fill: #000000;
          height: 26px;
          @media only screen 
          and (min-width : 770px)
          and (-webkit-min-device-pixel-ratio: 1) {
            display: block;
          }
          @media only screen 
          and (min-device-width : 770px)
          and (-webkit-min-device-pixel-ratio: 2) {
            display: block;
          }
        }

        .line1 {
          top: 5%;
          left: 31%;
        }

        .line2 {
          left: 15%;
          bottom: 12%;
        }

        .line3 {
          top: 18%;
          left: 4%;
          transform: rotate(-50deg);
        }

        .line4 {
          right: 7%;
          bottom: 15%;
        }

        .line5 {
          right: 23%;
          top: 64%;
          transform: rotate(-47deg);
        }

        .square1 {
          left: 12%;
        }

        .square2 {
          left: 23%;
          top: 18%;
          z-index: 1;
          transform: rotate(21deg);
        }

        .square3 {
          right: 23.7%;
          top: 22.6%;
          transform: rotate(21deg);
          height: 30px;
          z-index: 1;
        }

        .square4 {
          top: 7%;
          right: 11%;
        }

        .triangle1 {
          left: 8.5%;
          bottom: 34%;
          @media (min-width: 950px) {
            left: 24.5%;
          }
        }

        .triangle2 {
          left: 22.3%;
          top: 14.5%;
          z-index: 0;
          transform: rotate(34deg);
        }

        .triangle3 {
          right: 4%;
          top: 35%;
        }

        .circle1 {
          right: 15%;
          top: 56%;
        }

        .circle2 {
          right: 24.5%;
          top: 19%;
          z-index: 0;
          height: 30px;
        }
    }

    h1 {
        letter-spacing: 2px;
        font-size: 1.75em;
        margin-bottom: 8px;
        // @include tablet-portrait-and-up {
        //   font-size: 2.5em;
        //   margin-bottom: 1px;
        // }
    }
}

.text-center {
  text-align: center;
}